@import "./reset.scss";
@import "./scss/_base";

html,
body {
  min-height: 100%;
  position: relative;
  background-color: $white;
  color: $primary-color;
}

html,
body,
input,
button {
  font-family: "DM Sans", sans-serif;
  font-size: $regular-font-size;
  line-height: normal;
  font-weight: $semi-bold-font-weight;
  font-style: normal;
  font-stretch: normal;
}

body {
  padding: 22px;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
