@import "../../../styles/scss/base";

.root {
  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.description {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: $bold-font-weight;
}

.category {
  color: $dark-secondary-color;
}
