$primary-color: #171717;
$secondary-color: #979797;
$dark-secondary-color: #777777;
$black: #000000;
$white: #ffffff;

$regular-font-size: 14px;

$regular-font-weight: 400;
$semi-bold-font-weight: 500;
$bold-font-weight: 700;
